<div>
<div class="header">
  <div class="main">   
    <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register
      <span class="sr-only">(current)</span>
  </a>
  <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
  <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">User Page</a>
  <a class="nav-link"  (click)="logout()" [routerLink]="['/login']" routerLinkActive="active">Logout</a>

  </div>
</div>
<style>
  .td{
    width: 200px;
    padding: 10px;
  }
  h1{
    padding: 10px;
    border: rgb(40, 168, 155);
    border-radius: 0.3cm;
    border-style: solid;
    font-weight: bolder;
    text-align: center; 
  }
  </style>
<div class="b">
<div class="row">
  <div class="column side" style="background-color:#1F2833;"><font style="color: #ebf5f1;">||WELCOME| :)<br>
    | {{username}} !</font><br><hr color="white">
    <b><font style="color: #ebf5f1;">.||E&TC||</font> </b> 
    <hr>
    <li><a href="home.html"><font style="color: white;">SE</font> </a></li>
    <li><a href="sem3.html"><font style="color: white;">TE</font></a></li>
    <li><a class="nav-link" [routerLink]="['/video']" routerLinkActive="active">Videos</a></li>

     
  <!--rgb(50, 194, 179)-->
  </div>
  <div class="column middle" style="background-image: url(https://wallpapercave.com/wp/exhooYI.jpg);">
  <h1> <font style="color: #cc4016; font-family: Audrey;">ELECTRONICS AND TELECOMMUNICATION - SECOND YEAR</font></h1>
  <hr>
    <table>
      <tr style="text-align: center;">
      <th colspan="5"><h2><font style="color:#cc4016;">SEMESTER 3</font></h2></th>
      </tr>
      <tr class="td">
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">DIGITAL LOGIC & DESIGNING <br>Rs.389</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM3_DSD-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">APPLIED MATHEMATICS III<br>Rs.289</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM3_M3-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">ELECTRONICS DEVICES & CIRCUITS I <br>Rs.259</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM3_EDC1-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">INSTRUMENTATION & CONTROL SYSTEM<br>Rs.209</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM3_EIC-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">NETWORK <br> THEORY<br>Rs.225</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM3_CTN-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
      </tr><hr>
      <tr style="text-align: center;  ;">
        <th colspan="5"><h2><font style="color: #cc4016;">SEMESTER 4</font></h2></th>
      </tr>
      <tr class="td">
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">SIGNALS & SYSTEMS<br>Rs.278</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM4_SS-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">APPLIED MATHEMATICS IV<br>Rs.239</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM4_M4-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">MICROPROCESSORS & PERIPHERALS<br>Rs.269</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/TE-EXTC_SEM5_MPI-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">Electronic Devices & Circuit II<br>Rs.389</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/SE-EXTC_SEM4_EDC2-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
        <td><div class="card">
          <h3 style="font-family:'Times New Roman';">ELECTROMAGNETIC ENGINEERING<br>Rs.120</h3>
          <a href="https://muquestionpapers.com/storage/questionpapers/TE-EXTC_SEM5_EE-CBCGS_DEC19.pdf">BUY NOW</a>
        </div></td>
      </tr>
    </table>
  </div>
</div>




