.main{
    overflow: hidden;
    background-color: rgb(20, 1, 1);
  }
  
    .main a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .main a:hover {
    background-color: #ddd;
    color: black;
  }
* {
    box-sizing: border-box;
  }