<div>
    <div class="header">
        <div class="main">   
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register
            <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">User Page</a>
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Logout</a>
      
        </div>
          
<h1><font style="color: white;">Question Paper Solutions</font></h1>
<marquee behavior="alternate" direction="right"><b><font style="color: white;">This are the videos explaining the solutions of question papers</font></b></marquee>
<div class="card">
        
    <div class="videos">
    <iframe width="560" height="225" src="https://www.youtube.com/embed/VREvh7n9m74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
    </div>
    
    <div class="card"> 
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/u524DH0UOHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
     </div>
     <div class="card">
     <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/umAgtXpVAYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div> 
    <div class="card">
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/vbaFMT9LXmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div>
    <div class="card">
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/n-CYKFZKxX8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div>
    <div class="card">
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/gjiuf0ZfFNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div>
</div>